# ========================================================
# DONNA BOTANICA (PRODUCCION)
# ========================================================
donnabotanica.com.py, www.donnabotanica.com.py {
    tls internal
    encode gzip zstd

    # API Backend (ASP.NET Core 8)
    handle /api/* {
        reverse_proxy terra_api_prod:5000
    }

    # Frontend SPA (React + Vite + Tailwind)
    handle {
        reverse_proxy terra_front_prod:80
    }
}

# ========================================================
# DONNA BOTANICA (TEST / PRUEBAS)
# ========================================================
test.donnabotanica.com.py {
    tls internal
    encode gzip zstd

    # API Backend Test
    handle /api/* {
        reverse_proxy terra_api_test:5000
    }

    # Frontend SPA Test
    handle {
        reverse_proxy terra_front_test:80
    }
}
